<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-primary panel-email">
		<div class="panel-heading">
			<h3 class="panel-title">账户名称: <span th:text="${email}"></span></h3>
		</div>
	
		<div class="text-center">
			<form class="form-inline" action="/stockmonitor" method="POST">
				<div class="form-group">
					<input type="hidden" name="email"  th:value="${email}">
					<input type="text" name="stockCode" placeholder="请输入股票代码例如sh600009">
					<input type="number" name="highThreshold" placeholder="请设置高位提醒价格" step="0.01">
					<input type="number" name="lowThreshold" placeholder="请设置低位提醒价格" step="0.01">
				</div>
				<button type="submit" class="btn btn-primary btn-lg">设置股价监控</button>
			</form>
		</div>
	</div>
	<div th:if="${not #lists.isEmpty(monitors)}">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">列表</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" th:each="monitor : ${monitors}"><span
						th:text="${monitor.stockCode}"></span> <span
						th:text="${monitor.stockName}"></span> <span
						th:text="${monitor.currentPrice}"></span> <!-- <button class="btn" th:onlick="'getName(\''+${person.name}+'\');'">获得名字</button> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script th:src="@{/jquery/jquery-3.3.1.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>